body {
    margin: 0;
    padding: 0;
    height: 100vh;
    
    background-image: url('bg1.png');
    background-size: cover;        
    background-repeat: no-repeat;   
    background-position: center;    
    background-attachment: fixed; 
}